<div>
  <div class="dashboard">
    <div [style]="{'display': 'flex', 'justify-content': 'space-between'}">
      <h1>Your Diary Entries</h1>
      <button mat-stroked-button (click)="addEntry()" routerLink="/add-entry" routerLinkActive="active-link"
        matTooltip="Create New Entry">
        <mat-icon>add_circle_outline</mat-icon>
        New Entry
      </button>
    </div>

    <mat-progress-spinner *ngIf="loading" mode="indeterminate" diameter="50"></mat-progress-spinner>

    <mat-card *ngIf="errorMessage" class="error-card">
      <mat-card-content>{{ errorMessage }}</mat-card-content>
    </mat-card>

    <div *ngIf="!loading && !errorMessage">
      <mat-card *ngFor="let entry of entries" class="entry-card">
        <mat-card-content>
          <h3 class="card-date">{{formatDate(entry.date)}}</h3>
          <p class="card-content">{{ entry.content }}</p>
          <h2>AI Insights</h2>
          <p>Mood : {{entry.mood}}</p>
          <p>Tips : {{entry.tips}}</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button color="primary" (click)="editEntry(entry._id, entry.content)">Edit</button>
          <button mat-button color="warn" (click)="deleteEntry(entry._id)">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>


</div>